*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo > img {
    height: 100px;
    width: 200px;
}
.header_css {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
    flex-wrap: wrap;
}
#header_btn_one {
    padding: 6px 30px 6px 30px;
    color: #000;
    background: transparent;
    outline: none;
    pointer-events: all;
} 
#header_btn_two {
    padding: 6px 30px 6px 30px;
    color: #FFF;
    background: #000;
    margin-left:10px;
    outline: none;
    pointer-events: all;
}
@media(max-width:480px) {
    .header_css {
        justify-content: center;
        padding-bottom: 40px;;
    }
}